.datetime-picker-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  margin-left: 0;
}

#datetime-picker {
  width: 100%;
  max-width: 180px;
  min-width: 60px;
  padding: 4px;
  font-size: 16px;
}

button[data-start] {
  margin-left: 4px;
  font-size: 16px;
  padding: 4px 12px;
}

.timer {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 6px;
  margin-left: 0;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .value {
  font-size: 32px;
  font-weight: 900px;
}

.timer .value:first {
  min-width: 70px;
}

.timer .label {
  margin-top: -4px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2%;
}
